@import '~antd/dist/antd.css';

.layout {
	padding: 0 50px;
}

.hidden {
	display: none;
}

.ant-layout {
  /*background: #d1d7e0;*/
  background: url(/images/bg.png) repeat;
}

/* all element border */
.light-border, .intro_row {
  border: 1px solid #b3bdcb;
}

/* font color and size */
.ant-menu, .ant-card, .ant-checkbox-wrapper {
  color: #000;
  font-size: 16px;
}

.ant-card-head {
  color: #000;
  font-size: 22px;
}

/* header */
.nav-menu {
  padding: 0 50px;
}

.nav-menu .ant-menu-item > span > a {
  color: #fff;
}

.nav-menu li.ant-menu-item a {
	font-weight: bold; 
}

.logo {
  margin: 0 0 10px 5px;
}

.logo h1 {
  display: inline;
  font-size: 3rem;
  color: #001529;
  /*text-shadow: 2px 2px #fff;*/
}

.logo h6 {
  display: inline;
  font-size: 2rem;
  /*margin-left: 2rem;*/
  color: #536279;;
  /*text-shadow: 1px 1px #fff;*/
}

/* intro_row */
.intro_row {
  background: #fff;
}

.intro_row .ant-card-bordered {
  border: 0;
}

.intro_row .featured_img {
  height: 100%; /* equals max image height */
}

.intro_row .featured_img img {
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  padding: 20px 20px 20px 0;
}

.vertical-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* search_form */
.data_search .ant-checkbox-group label {
  display: block;
}

.divider_thin {
  margin: 12px 0;
}

.search_form_checkbox_group {
  overflow-y: scroll;
  height: 200px;
  width: 100%;
}

.search_form_checkbox_group::-webkit-scrollbar { /* Works on Chrome, Edge, and Safari */
  width: 12px;               /* width of the entire scrollbar */
}

.search_form_checkbox_group::-webkit-scrollbar-track { /* Works on Chrome, Edge, and Safari */
  /*background: orange;*/        /* color of the tracking area */
}

.search_form_checkbox_group::-webkit-scrollbar-thumb { /* Works on Chrome, Edge, and Safari */
  background-color: #80c1ff;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #e6f3ff;  /* creates padding around scroll thumb */
}
.search_form_checkbox_group { /* Works on Firefox */
  scrollbar-width: auto;          /* "auto" or "thin" */
  scrollbar-color: #80c1ff #e6f3ff;   /* scroll thumb and track */
}

/* reslut */
.data-search {
  position: relative;
}

.download-box {
  position: absolute;
    top: 13px;
    right: 25px;
}

